@import "tailwindcss";

#root{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Outfit', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  font-style: normal;
  box-sizing: border-box;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
